.container {
  padding: 10px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 8px;
  margin-bottom: 10px;

}

.input {
  display: block;
  min-width: 300px;
  padding: 8px;
  outline: transparent;
  outline-offset: 2px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  color: #2e2c2c;
  background-color: #f0f0f0;
  transition: border-color 300ms;
}

.input:focus {
  border-color: rgba(54, 19, 19, 0.774);
}