.loader {
  display: flex;
  justify-content: center;
}

.title {
  color: rgb(41, 40, 40);
  margin-top: 60px;
  text-align: center;
}

.text {
  color: rgb(41, 40, 40);
  margin-bottom: 30px;
  text-align: center;
}