.container {
  display: flex;
  gap: 20px;
  color: #2e2c2c;
  padding: 15px;
}

.link {
  font-size: 20px;
}
.link:hover,
.link:focus {
  font-weight: 600;
}

.active {
  color: rgb(126, 13, 66);
  font-weight: 600;
}