.container {
  display: flex;
  gap: 20px;
  box-shadow: 0 6px 4px -4px rgba(5, 4, 66, 0.6);
  padding: 15px;
  margin-bottom: 15px;
}

.link {
  font-size: 20px;
}
.link:hover,
.link:focus {
  font-weight: 600;
}

.active {
  color: navy;
  font-weight: 600;
}