.container {
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
  align-items: center;
  font-size: 16px;
  width: 320px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 5px;
}
.icon {
  margin-right: 8px;
}

.button {
  display: block;
  font-size: 16px;
  padding: 8px;
  border: 1px solid grey;
  border-radius: 3px;
  max-height: 35px;
  background-color: rgb(210, 207, 207);
}

.button:hover,
.button:focus {
  border-color:rgb(61, 19, 19);
}