.container {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 10px 0;
  padding: 5px 20px 25px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* background-color: #fff; */
  align-items: flex-end;
  gap: 15px;
}

.input {
  display: block;
  min-width: 300px;
  padding: 8px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  outline: transparent;
  outline-offset: 2px;
  box-sizing: border-box;
  background-color: #f0f0f0;
}

.input:active,
.input:focus {
  border-color: rgba(54, 19, 19, 0.774);
}

.label {
  display: block;
  margin-bottom: 5px;
  color: #161616;
}

.button {
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  border-radius: 3px;
  background-color: rgb(107, 17, 77);
  color: #fff;
  transition: background-color 300ms;
}

.button:hover {
  background-color: #e22c90;
}

.error {
  color: red;
  font-size: 11px;
  margin-top: 5px;
  margin-bottom: 5px;
  position: absolute;
}

