.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}

.link.active {
  color: rgb(48, 3, 3);
}

.link {
  color: #424242;
  text-decoration: none;
  padding: 5px 9px;
  border-radius: 4px;
  transition: background-color 300ms;
}

.link:hover, .link.active {
  background-color: #e22c90;
}